/* ABOUT SECTION START */ 
.Section__About {
    display: flex;
    position: relative;
    overflow: hidden;
    z-index: -2;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 247, 243);
    font-family: 'Raleway', sans-serif;
  }
  
  .About__Container {
    margin-top: 3.4rem;
  }
  
  .About {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 35rem;
    grid-column-gap: 2rem;
    grid-template-rows: 1;
    justify-content: center;
    align-items: center;
  }
  
  .About__Image {
    max-width: 100%;
    max-height: 80vh;
    grid-column: 1/2;
    justify-self: center;
    box-shadow: 10px 10px 5px #ccc;
  
  }
  
  .About__Text {
    grid-column: 2/-1;
    text-align: center;
    align-self: center;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .About__Text p { 
    line-height: 2.5;
  }
  
  .About__Text h2 { 
    line-height: 4;
    font-family: 'Raleway', sans-serif;
  }
  
  /* ABOUT SECTION END { }*/ 

  @media only screen and (max-width: 1200px) {
    .About__Container {
      margin-left: 3rem;
    }

    .About__Text p { 
      font-size: 1em;
    }
  }

  @media only screen and (max-width: 900px) {
    .About__Text p { 
      font-size: 0.9em;
    }
  }

  @media only screen and (max-width: 800px) {
    .About__Image {
      display: none;
    }

    .About__Text {
      grid-column: 1/-1;
      margin-left: 3rem;
      margin-right: 5rem;
    }

  }
