.FilterBox {
    display: grid;
    grid-template-columns: repeat(4, 10rem);
    grid-column-gap: 0rem;
    grid-template-rows: 6rem;
    width: 38rem;
    justify-items: center;
    align-items: flex-end;
    margin-left: 2rem ;
    border-radius: 5px;
    background-color: rgb(207, 189, 186);
    position: absolute;
    z-index: 200;
    opacity: 0;
    transition: all .2s ease-in;
    box-shadow: 8px 7px 5px rgb(173, 139, 133);
}

.FilterBox.openBox {
    opacity: 1;
}

.FilterIcon {
    margin-left: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1.4;
    background-color: rgba(173, 139, 133, 0.26);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 25px;
    z-index: 10000;
    cursor: pointer;
    transition: all .2s ease-in-out;
    transform: translate(-0.1rem, 0.7rem);
}

.FilterIcon:hover {
    background-color: rgba(173, 139, 133, 0.26);
    color:rgba(173, 139, 133, 0.432);
}

.value {
    text-align: center;
    font-size: 1.2em;
    color:rgb(165, 131, 125);
    margin-top: -0.2rem;
    margin-left: -50px;
    margin-bottom: 10px;
}

.FilterBox div:nth-child(1) {
    grid: 1/2;
}

.FilterBox div:nth-child(2) {
    grid: 2/3;
}

.FilterBox div:nth-child(3) {
    grid: 3/4;
}

.FilterBox div:nth-child(4) {
    grid: 5/6;
}

.FilterBox p {
    text-align: left;
    margin-bottom: 0.6rem;
    font-size: 0.6em;
}

.SlideContainer {
    width: 100%;
}

.PersonalityRange {
    -webkit-appearance: none;  
    appearance: none;
    width: 70%; 
    height: 12px; 
    background: rgb(255, 255, 255);
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s ease-in;
    border-radius: 25px;
  }
  
  .PersonalityRange:hover {
    opacity: 1; 
  }

  .PersonalityRange::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 15px; 
    height: 15px; 
    border-radius: 40px;
    background: rgb(173, 139, 133);
    cursor: pointer;
  }
  
  .PersonalityRange::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: rgb(173, 139, 133);; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  @media only screen and (max-width: 1250px) {

  }

  @media only screen and (max-width: 1100px) {

  }

  @media only screen and (max-width: 900px) {
    .FilterIcon {
        transform: translate(-0.1rem, 1.5rem);
    }

    .FilterBox {
        margin-top:2rem;
    }
  }

  @media only screen and (max-width: 800px) {
    .FilterBox {
        margin-top:2rem;
    }
  }

  @media only screen and (max-width: 750px) {
    .FilterIcon {
        transform: translate(-0.1rem, 1.5rem);
    }
    .FilterBox {
        margin-top:2rem;
        margin-left: 2rem;
    }
  }

  @media only screen and (max-width: 700px) {
    .FilterIcon {
        transform: translate(-2rem, 2.5rem);
    }

    .PersonalityRange {
        width: 60%; 
        height: 10px; 
      }
    
      .PersonalityRange::-webkit-slider-thumb {
        width: 11px; 
        height: 11px; 
      }
      
      .PersonalityRange::-moz-range-thumb {
        width: 11px; /* Set a specific slider handle width */
        height: 11px; /* Slider handle height */
      }

      .FilterBox {
        display: grid;
        grid-template-columns: repeat(4, 8rem);
        grid-column-gap: -0.7rem;
        padding: 0.8rem;
        width: 31.5rem;
        height: 7rem;
        margin-left: -2rem;
        box-shadow: 8px 7px 5px rgb(173, 139, 133);
    }

    .value {
        font-size: 1em;
    }
  }

  @media only screen and (max-width: 650px) {

    
  }