.FilterBox {
    display: grid;
    grid-template-columns: repeat(4, 10rem);
    grid-column-gap: 0rem;
    grid-template-rows: 6rem;
    width: 47%;
    justify-items: center;
    align-items: flex-end;
    margin-left: 2rem ;
    border-radius: 5px;
    background-color: rgba(173, 139, 133, 0.26);
}

.FilterIcon {
    margin-left: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1.4;
    background-color: rgba(173, 139, 133, 0.26);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 25px;
    z-index: 10000;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.FilterIcon:hover {
    background-color: rgba(173, 139, 133, 0.26);
    color:rgba(173, 139, 133, 0.432);
}

.value {
    text-align: center;
    font-size: 1.2em;
    color:rgb(165, 131, 125);
    margin-top: -0.2rem;
    margin-left: -50px;
    margin-bottom: 10px;
}

.FilterBox div:nth-child(1) {
    grid: 1/2;
}

.FilterBox div:nth-child(2) {
    grid: 2/3;
}

.FilterBox div:nth-child(3) {
    grid: 3/4;
}

.FilterBox div:nth-child(4) {
    grid: 5/6;
}

.FilterBox p {
    text-align: left;
    margin-bottom: 0.6rem;
    font-size: 0.6em;
}

.SlideContainer {
    width: 100%;
}

.PersonalityRange {
    -webkit-appearance: none;  
    appearance: none;
    width: 70%; 
    height: 12px; 
    background: rgb(255, 255, 255);
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s ease-in;
    border-radius: 25px;
  }
  
  .PersonalityRange:hover {
    opacity: 1; 
  }

  .PersonalityRange::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 15px; 
    height: 15px; 
    border-radius: 40px;
    background: rgb(173, 139, 133);
    cursor: pointer;
  }
  
  .PersonalityRange::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: rgb(173, 139, 133);; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }