.Section__CatList {
    height: auto;
    display: flex;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 247, 243);
    font-family: 'Raleway', sans-serif;
  }
  
  .CatPhoto {
    max-width: 240px;
    height: 320px;
    position: relative;
  }
  
  .Cats {
    display: grid;
    grid-template-columns: repeat(4, 20rem);
    grid-column-gap: 1rem;
    grid-template-rows: repeat(2, 24rem);
    grid-row-gap: 2.5rem;
    justify-items: center;
    align-items: center;
    text-align: center;
  }
  
  .CatList__Container h2 {
    text-align: center;
    letter-spacing: 2px;
  }
  
  .CatList__Container p {
    margin-top: 1rem;
    margin-right: 1.6rem;
    text-align: right;
    letter-spacing: 2px;
  }
  
  .CatList__Container {
    padding: 80px 0px;
    display: flex;
    flex-direction: column;
  }

  .CatCard__Container {
    position: relative;
    width: 240px;
    height: 320px;
  }

  .CatCard {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
  }

  .CatCard.rotate {
    transform: rotateY(180deg);
  }

  .CatCard__Front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .CatCard__Back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: white;
    color: grey;
    transform: rotateY(180deg);
    overflow: hidden;
  }

  .CatCard__Back h4 {
    font-family: 'Lobster Two', cursive;
    text-align: center;
    transform: translateY(-10rem);
    font-size: 2.2em;
    letter-spacing: 4px;
  }

  .CatCard__Back p {
    text-align: center;
    transform: translate(1rem, -10rem);
    vertical-align: center;
    font-size: 0.6em;
    letter-spacing: 1;
  }

  .PersonalityIcon {
    margin-top: 5px;
    margin-right: 5px;
    font-size: 1.3em;
    color: rgb(173, 139, 133);
  }

  .FlipIcon {
    font-size: 2em;
    color: rgb(173, 139, 133);
    z-index: 200;
    position: absolute;
    top: 102%;
    left: 2%;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
  }

  .FlipIcon.rotate {
    transform: rotateY(180deg);
  }

  .LikeIcon {
    font-size: 2em;
    color: rgb(173, 139, 133);
    z-index: 200;
    position: absolute;
    top: 102%;
    right: 2%;
    cursor: pointer;
    overflow: hidden;
    clip-path: circle(50px at 50% 50%);
    -webkit-clip-path: circle(50px at 50% 50%);
    background-color: rgb(245, 247, 243);
    transition: all .3s ease-in;
  }

  .LikeIcon.clicked {
    color: white;
    font-size: 2em;
    clip-path: circle(100px at 50% 50%);
    -webkit-clip-path: circle(100px at 50% 50%);
    border-radius: 45px;
    padding: 0.4rem;
    background-color: rgb(173, 139, 133);
  }

  .CatCard__BackIcon {
    font-size: 12em;
    opacity: 0.3;
    transform: translate(6.7rem, -3rem);
    color: rgb(173, 139, 133);
  }

  .Cats__PhotoOne {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .Cats__PhotoTwo {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  
  .Cats__PhotoThree {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  
  .Cats__PhotoFour {
    grid-column: 4/5;
    grid-row: 1/2;
  }
  
  .Cats__PhotoFive {
    grid-column: 1/2;
    grid-row: 2/-1;
  }

  .Cats__PhotoSix {
    grid-column: 2/3;
    grid-row: 2/-1;
  }

  .Cats__PhotoSeven {
    grid-column: 3/4;
    grid-row: 2/-1;
  }
  
  .Cats__PhotoEight {
    grid-column: 4/5;
    grid-row: 2/-1;
  }
  

  button {
    padding: 0.7rem;
    font-size: 0.8em;
    border: 2px solid rgb(224, 226, 223);
    border-radius: 2%;
    color: rgb(74, 75, 73);
    background-color: rgb(224, 226, 223);
    cursor: pointer;
    outline: none;
    justify-self: center;
    align-self: center;
    margin-top: 5rem;
  }


  /*Media queries*/

  @media only screen and (max-width: 1400px) {
    .Cats {
      grid-template-columns: repeat(3, 20rem);
      grid-column-gap: 1rem;
      grid-template-rows: repeat(3, 24rem);
    }

    .Cats__PhotoOne {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    .Cats__PhotoTwo {
      grid-column: 2/3;
      grid-row: 1/2;
    }
    
    .Cats__PhotoThree {
      grid-column: 3/4;
      grid-row: 1/2;
    }
    
    .Cats__PhotoFour {
      grid-column: 1/2;
      grid-row: 2/3;
    }
    
    .Cats__PhotoFive {
      grid-column: 2/3;
      grid-row: 2/3;
    }
  
    .Cats__PhotoSix {
      grid-column: 3/4;
      grid-row: 2/3;
    }
  
    .Cats__PhotoSeven {
      grid-column: 3/4;
      grid-row: 2/-1;
    }
    
    .Cats__PhotoEight {
      grid-column: 4/5;
      grid-row: 2/-1;
    }

  }

  @media only screen and (max-width: 1000px) {
    .Cats {
      display: grid;
      grid-template-columns: repeat(2, 20rem);
      grid-column-gap: 1rem;
      grid-template-rows: repeat(4, 24rem);
      justify-items: center;
      align-items: center;
      text-align: center;
    }

    .Cats__PhotoOne {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    .Cats__PhotoTwo {
      grid-column: 2/3;
      grid-row: 1/2;
    }
    
    .Cats__PhotoThree {
      grid-column: 1/2;
      grid-row: 2/3;
    }
    
    .Cats__PhotoFour {
      grid-column: 2/3;
      grid-row: 2/3;
    }
    
    .Cats__PhotoFive {
      grid-column: 1/2;
      grid-row: 3/4;
    }
  
    .Cats__PhotoSix {
      grid-column: 2/3;
      grid-row: 3/4;
    }
  
    .Cats__PhotoSeven {
      grid-column: 1/2;
      grid-row: 4/5;
    }
    
    .Cats__PhotoEight {
      grid-column: 2/3;
      grid-row: 4/5;
    }
  }

  @media only screen and (max-width: 700px) {
    .CatPhoto {
      width: 190px;
      height: 230px;
    }

    .CatCard__Container {
      width: 190px;
      height: 230px;
    }

    .Cats {
      margin-top: 2rem;
      grid-template-columns: repeat(2, 13rem);
      grid-template-rows: repeat(4, 18rem);
    }

    .CatCard__Front {
      width: 190px;
      height: 230px;
    }
  
    .CatCard__Back {
        width: 200px;
        height: 230px;
    }

    .CatCard__Back h4 {
      transform: translateY(-11rem);
      font-size: 1.5em;
    }
  
    .CatCard__Back p {
      transform: translate(1rem, -11.5rem);
      font-size: 0.6em;
    }

    .PersonalityIcon {
      margin-top: 2px;
      margin-right: 5px;
      font-size: 1.3em;
      color: rgb(173, 139, 133);
    }

    .CatCard__BackIcon {
      font-size: 12em;
      opacity: 0.3;
      transform: translate(6.7rem, -3rem);
      color: rgb(173, 139, 133);
    }
  }

  @media only screen and (max-width: 430px) {
    .CatPhoto {
      width: 150px;
      height: 190px;
    }

    .Cats {
      grid-column-gap: -1rem;
      grid-template-columns: repeat(2, 10rem);
      grid-template-rows: repeat(4, 14rem);
    }

    .CatCard__Container {
      width: 150px;
      height: 190px;
    }

    .CatCard__Front {
      width: 150px;
      height: 190px;;
    }
  
    .CatCard__Back {
      width: 151px;
      max-height: 191px;
      overflow-y: scroll;
      overflow-x: hidden;
      bottom: 0;
      
    }

    .CatCard__Back h4 {
      transform: translateY(-11rem);
      font-size: 1.2em;
    }
  
    .CatCard__Back p {
      transform: translate(1rem, -11.5rem);
      font-size: 0.6em;
      overflow: scroll
    }

    .PersonalityIcon {
      margin-top: 2px;
      margin-right: 5px;
      font-size: 1.3em;
      color: rgb(173, 139, 133);
    }

    .FlipIcon {
      font-size: 1.6em;
      
    }

    .LikeIcon {
      font-size: 1.6em;
    }
  }



  
  