nav .Navigation__Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    max-height: 6rem;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    padding: 1.3rem;
    transition: all .5s ease;
}

nav ul:last-child {
    margin-left: auto;
}

.Navigation__CompanyName {
  font-family: 'Lobster Two', cursive;
  font-size: 2.7em;
  color: #f0ece3;
  transition: all .5s ease;
  margin-right: 3rem;
}

.Navigation__Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Navigation__MenuList {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

.Navigation__Link {
  text-decoration: none;
  margin-right: 25px;
  color: #f0ece3;
  letter-spacing: 1px;
  font-size: 1em;
  transition: all .5s ease;
  position: relative;
}

.Navigation__Link::after {
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgb(173, 139, 133);
    position: absolute;
    bottom: 0%;
    left: 50%;
    top: 100%;
    border-radius: 20%;
    transition: all .4s ease;
}

.Navigation__Link:hover::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0%;
}


.Navigation__Container ul {
  list-style-type: none;
  display: flex;
}

.Navigation__MenuItem {
  margin-right: 15px;
  font-size: 1.5rem;
  color: #f0ece3;
  transition: all .5s ease;
}

.Navigation__Logo {
  width: 36%;
}

.SearchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-0.9rem, -0.3rem);
}
.SearchContainer .SearchBar {
  position: relative;
  display: block;
  width: 100%;
  max-width: 53px;
  transition: 0.4s linear;
  overflow: hidden;
}

.SearchContainer .SearchBar .SearchInput {
  display: block;
  appearance: none;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 50px;
  background-color:#f0ece3;
  padding: 8px;
  color: rgb(173, 139, 133);
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s linear;
}

.SearchContainer .SearchBar .SearchIcon {
  position: absolute;
  top: 50%;
  right: calc(50px / 2);
  transform: translate(120%, -50%);
  width: 20px;
  height: 20px;
  font-size: 15px;
  pointer-events: none;
}


.SearchContainer .SearchBar .SearchIcon path {
  fill: rgb(173, 139, 133);
  transition: 0.4s linear;
  position: absolute;
}
.SearchContainer .SearchBar:focus-within {
  max-width: 300px;
}
.SearchContainer .SearchBar:focus-within .SearchInput {
  background-color:  #f0ece3;
  padding-right: 50px;
}
.SearchContainer .SearchBar:focus-within .SearchIcon path {
  fill: rgb(165, 131, 125);
}

.NumberOfLikes {
  width: 20px;
  height: 20px;
  background-color: rgba(168, 131, 125, 0.534);
  text-align: center;
  font-size: 1em;
  color: #f0ece3;
  border-radius: 40px;
  transform: translate(0.5rem, -0.7rem);
}

/*.SearchBar.clicked {
  width: 20rem;
  height: 2.1rem;
  background-color: #f0ece3;
  border-radius: 25px;
  transition: all .3s ease-out;
  position: relative;
  transform: translate(-1rem, -0.5rem);
}

.SearchBar input.clicked {
  width: 15rem;
  transform: translate(3.5rem, 0.4rem);
  border-bottom: 1px solid rgb(173, 139, 133);
  border-top: 1px solid #f0ece3;
  border-left: 1px solid #f0ece3;
  border-right: 1px solid #f0ece3;
  background-color: #f0ece3;
  transition: all .3s ease-out;
  display: block;
}

.SearchBar input:focus {
  outline: none;
}

.SearchInput {
  display: none;
}

.SearchIcon {
  transition: all .3s ease-out;
}

.SearchIcon.clicked {
  position: absolute;
  transform: translate(0.5rem, 0.5rem);
  color: rgb(165, 131, 125)
}*/

.scrolling-active {
  background-color: white;
  box-shadow: 0 3px 1rem rgba(0,0,0,.1);
}

.scrolling-active .nav a {
  color: #313131;
}

.scrolling-active nav {
  height: 3rem;
}

.scrolling-active .Navigation__CompanyName {
  color: rgb(173, 139, 133);
  font-size: 2em;
}

.scrolling-active .Navigation__Link {
  color: rgb(173, 139, 133);
  font-size: 15px;
}

.scrolling-active .Navigation__MenuItem {
  color: rgb(173, 139, 133);
  font-size: 1.5em;
}

.scrolling-active .Navigation__Link::after {
  color: rgb(173, 139, 133);
}

/*Apply styles after scrolling start*/
@media screen and (max-width: 750px) {
    .scrolling-active {
        background-color: white;
        box-shadow: 0 3px 1rem rgba(0,0,0,.1);
    }

    .scrolling-active .nav a {
        color: #313131;
    }

    .scrolling-active nav {
        height: 3rem;
    }

    .scrolling-active .Line {
      background-color: rgb(173, 139, 133);

    }

    .scrolling-active .Navigation__CompanyName {
        color: rgb(173, 139, 133);
        font-size: 2em;
    }


    .scrolling-active .Navigation__MenuItem {
        font-size: 1.5em;
    }

    .scrolling-active .Navigation__Link {
      color: #f0ece3;
      font-size: 1em;
    }

}

/*Apply styles after scrolling end*/

/*Media queries*/

@media screen and (max-width: 750px) {
  .Navigation__MenuList {
    background-color: rgb(173, 139, 133);
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f0ece3;
    z-index: 100;
    font-size: 2em;
    line-height: 6rem;
    display: none;
    transition: all 0.4s ease-out;
    clip-path: circle(100px at 100% -15%);
    -webkit-clip-path: circle(100px at 100% -15%);
    pointer-events: none;
  }

  .Navigation__MenuList.open {
    clip-path: circle(1100px at 100% -15%);
    -webkit-clip-path: circle(1100px at 100% -15%);
    pointer-events: all;
  }

  .Navigation__MenuItem {
    font-size: 1.5em;
  }

  .Line {
    width: 1.5rem;
    height: 3px;
    margin: 5px;
    background-color: #f0ece3;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
  }

  .MobileNav {
    position: absolute;
    cursor: pointer;
    right: 5%;
    z-index: 1000;
  }

  
  .Navigation__MenuIcons {
    margin-right: 4rem;
    margin-top: 0.7rem;
  }

  .MobileNav.open .Line {
    background-color: #f0ece3;
  }

  .MobileNav.open .Line:nth-child(1) {
    transform: rotate(45deg) translate(6px, 5px);
  }

  .MobileNav.open .Line:nth-child(2) {
    transform: translateX(-2rem);
    background:transparent;
  }

  .MobileNav.open .Line:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -5px);
  }

  .Navigation__MenuList li {
    opacity: 0;
    font-size: 1.5em;
    font-family: 'Lobster Two', cursive;
  }

  .Navigation__MenuList li:hover {
    font-style: italic;
  }

  .Navigation__MenuList li.fade {
    opacity: 1;
  }
    
}
