.Section {
  max-width: 100%;
  width: 100vw;
  height: 100vh;
  display: block;
  z-index: 1;
}

nav .Navigation__Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

nav {
    height: 70px;
    width: 100vw;
    max-width: 100%;
    position: fixed;
    z-index: 2;
    /*transform: translateY(-80px);
    transition: background-color 0.3s;
    opacity: 0;
    animation: navAnim 2s ease forwards;
    animation-delay: 2s;*/
}

.Navigation__CompanyName {
  font-family: 'Lobster Two', cursive;
  font-size: 2.7em;
  justify-self: center;
}

.Navigation__Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.Navigation__Container ul {
  list-style-type: none;
  justify-content: flex-end;
  display: flex;
}

.Navigation__MenuItem {
  margin-right: 10px;
  font-size: 1.3rem;
}
