.Section {
  max-width: 100%;
  width: 100vw;
  height: 100vh;
  display: block;
  z-index: -1;
}

nav .Navigation__Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

nav {
    height: 70px;
    width: 100vw;
    max-width: 100%;
    position: fixed;
    z-index: 1;
    /*transform: translateY(-80px);
    transition: background-color 0.3s;
    opacity: 0;
    animation: navAnim 2s ease forwards;
    animation-delay: 2s;*/
}

.Navigation__CompanyName {
  font-family: 'Lobster Two', cursive;
  font-size: 2.7em;
  justify-self: center;
}

.Navigation__Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.Navigation__Container ul {
  list-style-type: none;
  justify-content: flex-end;
  display: flex;
}

.Navigation__MenuItem {
  margin-right: 10px;
  font-size: 1.3rem;
}
/* HOME SECTION START */ 

.Section__Home {
  display: flex;
  position: relative;
  overflow: hidden;
  z-index: -2;
  justify-content: center;
  align-items: center;
}

.Header__Container {
  z-index: 10;
}

.Header {
  padding: 3rem;
  text-align: center;
  margin: 0 auto;
  background-color: rgba(139, 99, 92, 0.4);
}

.Header h1 {
  font-family: 'Raleway'; 
  font-weight:400;
  letter-spacing: 2px;
  font-size: 3em;
  line-height: 2.1;
  color: rgb(245, 247, 243);
}

.Header h4 {
  font-family: 'Raleway'; 
  font-weight: 300;
  font-size: 1em;
  color: rgb(245, 247, 243);
}

.Header__Image {
  width: 100%;
  max-height: 110vh;
  background-position: center;
  top: 0;
  z-index: -1;
  position: absolute;
  background-size: cover;
  overflow: hidden;
}

/* HOME SECTION END */ 

/* ABOUT SECTION START */ 
.Section__About {
  display: flex;
  position: relative;
  overflow: hidden;
  z-index: -2;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 247, 243);
}

.About__Container {
  margin-top: 3.4rem;
}

.About {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 35rem;
  grid-column-gap: 2rem;
  grid-template-rows: 1;
  justify-content: center;
}

.About__Image {
  max-width: 100%;
  max-height: 80vh;
  grid-column: 1/2;
  justify-self: center;
  box-shadow: 10px 10px 5px #ccc;

}

.About__Text {
  grid-column: 2/-1;
  text-align: center;
  align-self: center;
  margin: 0 auto;
  padding: 2rem;
}

.About__Text p { 
  line-height: 2.5;
}

.About__Text h2 { 
  line-height: 4;
  font-family: 'Raleway', sans-serif;
}

/* ABOUT SECTION END { }*/ 

/* STEPS SECTION START */ 

.Section__Steps { 
  max-height: 27rem;
  display: flex;
  position: relative;
  overflow: hidden;
  z-index: -2;
  justify-content: center;
  align-items: center;
}

.Steps__Container h2 { 
  text-align: center;
  grid-row: 1/2;
  margin-top: 2rem;
}

.Steps { 
  display: grid;
  grid-template-columns: repeat(4, 15rem);
  grid-column-gap: 4rem;
  grid-template-rows: 15rem;
  margin-top: 3rem;
  text-align: center;
  align-items: center;
  line-height: 2;
}


.StepOne {
  grid-column: 1/2;
  grid-row: 1/-1;
}

.StepTwo {
  grid-column: 2/3;
  grid-row: 1/-1;
}

.StepThree {
  grid-column: 3/4;
  grid-row: 1/-1;
}

.StepFour {
  grid-column: 4/5;
  grid-row: 1/-1;
}

.Steps__Icon {
  margin: 14px 3px 0 3px;
  font-size: 1.6em;
  color: rgb(173, 139, 133);
}

/* STEPS SECTION START */ 

.Section__CatList {
  height: 120vh;
  display: flex;
  position: relative;
  overflow: hidden;
  z-index: -2;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 247, 243);
}

.Cat__Photo img {
  max-width: 100%;
  max-height: 35vh;
}

.Cats {
  background-color: slateblue;
  display: grid;
  grid-template-columns: repeat(4, 20rem);
  grid-template-rows: repeat(2, 30rem);
  margin-top: 5rem;
}

.Cats__PhotoOne {
  background-color: skyblue;
  width: 15rem;
  height: 22rem;
}

.Cats__Name {
  background-color: tomato;
  width: 15rem;
  height: 2.5rem;
}

.CatList__Container h2 {
  margin-top: 2rem;
  text-align: center;
}

.Cats__PhotoOne {
  grid-column: 1/2;
  grid-row: 1/2;
}

.Cats__PhotoTwo {
  grid-column: 2/3;
  grid-row: 1/2;
}

.Cats__PhotoThree {
  grid-column: 3/4;
  grid-row: 1/2;
}

.Cats__PhotoFour {
  grid-column: 4/5;
  grid-row: 1/2;
}

.Cats__PhotoFive {
  grid-column: 1/2;
  grid-row: 2/-1;
}

.Cats__PhotoSix {
  grid-column: 2/3;
  grid-row: 2/-1;
}

.Cats__PhotoSeven {
  grid-column: 3/4;
  grid-row: 2/-1;
}

.Cats__PhotoEight {
  grid-column: 4/5;
  grid-row: 2/-1;
}

