.Section {
  max-width: 100%;
  width: 100vw;
  height: 100vh;
  display: block;
  z-index: 1;
}

nav .Navigation__Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

nav {
    height: 70px;
    width: 100%;
    max-width: 100%;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.Navigation__CompanyName {
  font-family: 'Lobster Two', cursive;
  font-size: 2.7em;
  justify-self: center;
}

.Navigation__Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Navigation__MenuList {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

.Navigation__Link {
  text-decoration: none;
  margin-right: 25px;
  color: black;
  font-size: 1.2em;
}


.Navigation__Container ul {
  list-style-type: none;
  display: flex;
}

.Navigation__MenuItem {
  margin-right: 10px;
  font-size: 1.3rem;
  color: black;
}

.Navigation__Logo {
  width: 36%;
}
