.Section__Footer {
    height: 40vh;
    position: relative;
    overflow: hidden;
    background-color: rgb(245, 247, 243);
    font-family: 'Raleway', sans-serif;
  }

.Footer__Container {
    width: 100%;
    max-height: 40rem;
    display: flex;
    padding: 3rem;
    justify-content: space-evenly;
}

.Footer__Company {
    display: flex;
    flex-direction: column;
}

.Footer__Container h3 {
    font-size: 1.6rem;
    font-family: 'Lobster Two', cursive;
    letter-spacing: 0.6px;
}

.icon {
    font-size: 1rem;
    margin: 0 6px 0 6px;
}

.Socials {
    margin-top: 0.4rem;
    margin-left: -6px;
}

.Category h5 {
    font-size: 0.9em;
    margin-bottom: 5px;
}

.List li {
    font-size: 0.8em;
    list-style-type: none;
    line-height: 2;
}

.Newsletter__Container {
    display: flex;
    flex-direction: column;
}

.Newsletter__Container p {
    font-size: 0.9em;
    margin-bottom: 20px;
}

.Newsletter__Container input {
    border: none;
    border-bottom: 2px solid rgb(194, 194, 194);
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    padding-bottom: 5px;
    background-color: rgb(245, 247, 243);
}

.Newsletter__Container input:focus {
    outline: none;
}

.Newsletter__Container button {
    padding: 0.4rem;
    font-size: 0.8em;
    border: 2px solid rgb(224, 226, 223);
    border-radius: 2%;
    color: rgb(74, 75, 73);
    background-color: rgb(224, 226, 223);
    cursor: pointer;
    outline: none;
    justify-self: center;
    align-self: center;
    margin-top: 20px;
    align-self: flex-start;
}

.iconNews {
    font-size: 1rem;
    margin-right: 4px;
}

.Copyright {
    display: flex;
    justify-content: center;
    padding: 2rem;
    font-size: 0.7em;
}

@media only screen and (max-width: 800px) {
    .Category h5 {
        font-size: 0.9em;
    }
    
    .List li {
        font-size: 0.7em;
        line-height: 2.5;
    }

    .Footer__Container {
        padding: 1rem;
        margin-top: 1rem;
    }

    .Newsletter__Container p {
        font-size: 0.7em;
    }

    .Newsletter__Container input {
        font-size: 0.7em;
    }
  }

@media only screen and (max-width: 650px) {
    .Footer__Company h3{
    font-size: 1.3em;
    }    

    .icon {
        font-size: 0.8rem;
    }

    .iconNews {
        font-size: 0.8rem;
    }

    .Newsletter__Container {
        width: 10rem;
    }

    .Newsletter__Container p{
        line-height: 2;
    }

    .Newsletter__Container button {
        padding: 0.4rem;
        font-size: 0.6em;
    }
}


